html,body,div,ul,li,h1,h2,h3,h4,h5,h6,form,input,p,button,span{margin:0;padding:0;}
body{font:14px/22px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif ;
    color: #333;background-color: #0769ad}
img{border:none;vertical-align:middle;}
a{color: #B24926;text-decoration: underline}
h1,h2,h3,h4,h5{font-weight: 700;font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important}
ul,ol{list-style:none;}